<p class="light">Make an offer for <%=ShopifyAPI::Product.find(params[:id]).title%></p>

<% form_for :offer,{:id=>params[:id],:shop=>params[:shop]} do |f|%>

<p>Price:<br/><%=f.text_field :offer_price%></p>
<input type="hidden" id="offer_shop" name="offer[shop]" value="<%=params[:shop]%>" />
<input type="hidden" id="offer_product_id" name="offer[product_id]" value="<%=params[:id]%>" />
<p>Comment:<br/> <%=f.text_area :offer_message, :rows=>4,:cols=>23%></p>
<p>  <%=submit_tag "Make an offer"%></p>
<%end%>